@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Poppins:wght@500&family=Roboto+Condensed&display=swap');

*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
header{
	align-items:center;
}
body{
  /*background:#000;*/
  overflow:scroll;
}
.nav-toggle {
    height: 60px;
    font-size: 3rem;
    color: white;
    background-color:#2C3333 ;
    transition: all 0.3s linear;
    border:none;
    padding-right:10px;
}
.leftside-nav{
	width:100%;
	height:100%;
  display:flex;
	background:#2C3333;
	color:#fff;
	align-items:center;
}
.rightside-nav{
  display: flex;
  width: 50%;
}
.logo{
	font-family:'Poppins',sans-seif;
	font-size:20px;
	display:inline-flex;
	align-items:center;
  padding:7px 20px;
}
.svvg{
	width:15px;
	height:15px;
}

.menu-list{
	font-size:19px;
	font-family: 'Dosis', sans-serif;
	width:100%;
	font-weight:bold;
  padding:0;
  margin: 0;
  display: flex;
}
.menu-list>li{
	list-style: none;
	width:100%;
  display: inline-block;
  padding: 7px 20px;
}
.menu-list>li>a{
	color:#fff;
	text-decoration:none;
	width:100%;
	list-style-type:none;
  align-items: center;
  display: inline-flex;
}
.menu-list>li>a:hover{
	background-color:#000;
	color:#fff;
	width:100%;
	margin-left:17px;
	border-radius:8px 0 0 8px;
	transition:0.6s ease-in-out;
	font-weight:lighter;
}

/*for main*/


.main-cont{
	color:#fff;
}
header{
	width:100%;
	height:60px;
	background-color:#2C3333;
	filter:drop-shadow(0 2px 2px 0 #2C3639);
	justify-content:space-between;
	display:flex;
}
.suw{
	width:100%;
}
.searchy{
	width:100%;
	background-color:white;
	padding:6px;
	border:1px solid #3F4E4F;
	border-radius:6px;
	color:black;
	font-family: 'Dosis', sans-serif;
  margin: 7px 0;
  font-size:16px;
  font-weight: bold;
}
.searchy:focus{
	outline:none;
	transition:1s ease-in-out;
	animation: fadey 0.3s linear;
}
@keyframes fadey{
	from{
		width:10%;
		opacity:0.5;
	}
	50%{
		width:25%;
		opacity:0.7;
	}
	to{
		width:40%;
		opacity:1;
	}
}
.icony{
	color:#fff;
	display:inline-flex;
	list-style-type:none;
	padding: 15px 20px;
}
.icony>li{
	cursor:pointer;
  padding: 0 10px;
}
.icony>li:hover{
	color:red;
	transition:1s ease-in-out;
}
.icon2{
	margin-left:30px;
}
.svvg2{
	width:22px;
	height:22px;
}

/* the content area */
.main {
  padding: 20px;
  width: 100%;
  left:200px;
  color:#000;
  top: 59px;
}
th{
  padding:20px;
  font-family:'Poppins',sans-seif;
}
td{
  text-align:center;
  padding:10px 0;
  font-family:'Poppins',sans-seif;
}



@media(min-width:800px){
  .nav-toggle{
    display:none;
  }
}
@media(max-width:800px){
  center{
    display:flex;
    justify-content:space-between;
  }
  .menu-list{
/*     overflow:hidden;
    height:0; */
    display:flex;
    flex-direction:column;
  }
  .leftside-nav{
    display:inline-block;
  }
  .rightside-nav{
    width:100%;
    padding: 0 20px;
  }
  header{
    height:auto;
    display:flex;
    flex-direction: column;
  }
}